html { height: 100%; }
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

/* --- _content_footer/*.md --- */

footer {
    color: #aaa;
    background-color: #222;
    /* https://stackoverflow.com/a/18935218/75696 */
    box-shadow: 0 500px 0 500px #222;
    padding: 10px 0;
    margin-top: 20px;
}

.footer-item {
    text-align: center;
    vertical-align: top;
}

.footer-item h1,
.footer-item h2,
.footer-item h3,
.footer-item h4
{
    color: #fff;
}

.footer-item a
{
    color: #fff;
}

/* --- project/index.md --- */
/* --( modified from bootstrap website's bs-docs-header class )--- */

.jumbo-header {
    margin-bottom: 40px;
    font-size: 20px;
    color: #fff;
    background-color: #6f5499;
}

.jumbo-header h1 {
    margin-top: 0;
    color: #fff;
}

.jumbo-header p {
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.4;
}
.jumbo-header .container {
    position: relative;
}

@media (min-width: 768px) {
    .jumbo-header {
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 24px;
        text-align: left;
    }
    .jumbo-header h1 {
        font-size: 60px;
        line-height: 1;
    }
}

@media (min-width: 992px) {
    .jumbo-header h1,
    .jumbo-header p {
        margin-right: 380px;
    }
}

/* --- _content_features/*.md --- */

.project-feature-item {
    text-align:justify;
    margin: 10px 0;
}
.project-feature-header {
    font-size: 2.0em;
    text-align: center;
    background-color: #338;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
}

/* --- calendar.liquid CSS --- */
.calendar-div {
    background-color: #fff;
    color: #000;
    font-weight: normal;
    border: none;
    width:30%;
    float:right;
    margin: 5px;
}

.calendar-table,
.calendar-day,
.calendar-day-inactive,
.calendar-day-post { border: #000 1px solid; }

.calendar-row { }

.calendar-header {
    background-color: #000;
    color: #fff;
    font-size: 2.0em;
}

.calendar-day { }

.calendar-day-inactive { background-color: #eee; color: #999; }
.calendar-day-post     { background-color: #cfc; color: #000; }

/* --- countdown.liquid CSS --- */
.countdown { color: #666; }
.countdown-small { font-size:1.0em; text-align: center; }
.countdown-large { font-size:1.5em; margin: 10px; }
