---
---

@import "bourbon/bourbon";
@import "neat/neat";
@import "breakpoints";
@import "base";
@import "fonts";
@import "map";
@import "popover";
@import "colors";
@import "navigation";
@import "forms";
@import "transparent-overlay";
@import "timeline";
@import "blogs";
@import "image_size";
@import "container";

@import "events-table";
@import "articles";
@import "hosts-embedded-iframe";

@import "landing/hero";
@import "landing/locations";
@import "landing/format";
@import "landing/hosting";
@import "landing/announcement";
@import "landing/sponsors";
@import "landing/twitter";


.full-page {
  padding: 40% 0;
  padding: calc(40% - 32px - 76px) 0;
}

#content {
  @include outer-container;
  padding-top: $gutter;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  @include media($mobile) {
    padding: 0px;
  }

  .video {
    margin: 10px;
    padding-bottom: 5px;

    font-size: .8em;
    text-align: center;

    iframe {
      border: 0px solid $green;

      @include media($mobile) {
        max-width: 100%;
      }
    }
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // box-shadow: 5px 5px 5px $dark;

    @include media($mobile) {
      max-width: 100%;
      padding: 0px;
    }
  }
}
