---
---

@import "bourbon/bourbon";
@import "neat/neat";
@import "breakpoints";
@import "base";
@import "fonts";
@import "map";
@import "popover";
@import "colors";
@import "navigation";
@import "forms";
@import "transparent-overlay";
@import "timeline";
@import "blogs";
@import "image_size";

@import "landing/hero";
@import "landing/map";
@import "landing/format";
@import "landing/hosting";
@import "landing/announcement";
@import "landing/sponsors";


#content {
  @include outer-container;
  padding-top: $gutter;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  .video {
    margin: 10px;
    padding-bottom: 5px;

    font-size: .8em;
    text-align: center;

    iframe {
      border: 0px solid $green;
    }
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // box-shadow: 5px 5px 5px $dark;
  }
}

#events-by-country { width: 100%; }

#events-by-country td { padding: 5px; }

