---
---

.we {
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.kPb {
    height: 250px;
    margin-left: 7px;
    margin-right: 8px;
}

.yB {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    margin-bottom: 18px;
    position: relative;
    width: 420px;
}

.d-k-l {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
}

.yB .ow {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    height: 110px;
}

.ow {
    vertical-align: top;
}

.jPb {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.xOa {
    height: 24px;
    margin-top: -25px;
    position: absolute;
    right: 15px;
}

.l4 {
    filter: alpha(opacity=60);
    opacity: 0.6;
    float: left;
    height: 12px;
    margin: 7px 8px 0 0;
    width: 12px;
}

.i4 {
    filter: alpha(opacity=60);
    opacity: 0.6;
    float: left;
    height: 12px;
    margin: 7px 8px 0 0;
    width: 12px;
}

.pw {
    display: inline-block;
    font: 400 16px Roboto,arial,sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-wrap: normal;
}

.Umd {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tip {
    display: flex;
    margin-bottom: 10px;
}

#past-training .mPb {
  opacity: 0.6;
}

#past-training .mPb:hover {
  opacity: 1;
}
