#map-container {
    position: relative;
}

#map {
    height: 80vh;
    width: 100vw;

}

#event-log {
    position: absolute;
    top: 5%;
    bottom: 15%;
    
    right: 2%;
    width: 24%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    overflow-y: scroll;
    font-size: 0.7em;
    padding: 4px;
    p {
        padding: 0;
        margin: 5px 0;
    }
    
}

#console {
    position: absolute;
    bottom: 50px;
    width: 80%;
    left: 10%;
    background-color: #fefefe;
    border-radius: 10px;
    padding-top: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    #time-slider {
        display: table-cell;
        margin-left: 10px;
        width: calc(100% - 20px - 100px);
    }

    #current-date {
        display: block;
        float: right;
        padding-right: 10px;
        font-family: 'Courier New', Courier, monospace;
        width: "100px";
    }
}