<div id="event">
  Title: {{:title}} <br/>
  Event website: <a href='{{:url}}'>{{:url}}</a> <br/>
  Location: {{:location.city}}, {{:location.country}} <br/>
  Timezone: {{:location.timezone}} <br/>
  UTC offset: {{:location.utcOffset}} <br/>
  Moderators:

  {{for moderators}}
    {{if #data.startsWith('@')}}
      <a href='https://twitter.com/{{>#data}}' target="_blank">
        {{>#data}},
      </a>
    {{else}}
      {{>#data}},
    {{/if}}
  {{/for}}

  <hr/>
</div>
