.format {
  padding-top: 0.1em;
}
.format-background {
  background-image: url("/images/GOL.svg");
  background-attachment: fixed;
  width: 100%;
  color: $light;
}
.format .step {
  @include span-columns(3 of 12);
  margin-bottom: $gutter;
  background-color: $light;
  opacity: 0.9;
  color: $dark;
  padding: $gutter;
  @include media($mobile) {
    @include fill-parent;
  }
}
