#hero {
  $bg-height: 800vw / 14;
  overflow: hidden;
  background-image: url("/images/mountain_path.svg");
  background-size: cover;
  background-attachment: fixed;
  .header {
    h1 {
      font-family: "OrbitronBlack";
    }
    h2 {
      font-size: 1.5em;
    }
    font-family: $title-font;
    margin: 1em 10% 1em 40%;
    font-size: 1.6em;
    color: $dark;
    text-align: center;
    float: right;
  }
  @include media($tablet) {
    .header {
      margin-top: $gutter;
      background-color: rgba($light, 0.7);
      margin: $gutter auto;
      padding: $gutter;
      float: none;
    }
    padding: $gutter;
    height: auto;
    min-height: $bg-height;
    background-size: cover;
  }
  @include media($mobile) {
    background-image: url("/images/mountain_path_with_coderetreat.svg");
    background-size: 100% $bg-height;
    background-repeat: no-repeat;
    background-attachment: scroll;
    .header {
      h1 {
        display: none;
      }
      padding: 0 $gutter;
      h2 {
        font-size: 1.3em;
      }
      margin-top: $bg-height;
      margin-bottom: 0;
    }
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
