#gdcr-map {
  margin-top: 1.5em;
  display: inline-block;
}

.landing_page #map {
  $map-border: $gutter*8;
  @include span-columns(8 of 12);
  height: 400px;
  border-radius: $map-border;
  canvas { border-radius: $map-border; }
  @include media($mobile) {
    @include fill-parent;
    height: 200px;
  }
  @include media($tablet) {
    @include span-columns(12 of 12);
  }
}

.landing_page .map-aside {
  margin-top: 1em;
  @include span-columns(4 of 12);
  @include media($mobile) {
    @include fill-parent;
    padding: $gutter;
  }
  @include media($tablet) {
    @include span-columns(12 of 12);
  }
}
