#gdcr-map {
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    @include media($mobile) {
        grid-template-columns: 1fr;
    }
    @include media($tablet) {
        grid-template-columns: 1fr;
    }
}

.landing_page #map {
    display: inline-block;
    width: 100%;
}

.landing_page #map-aside {
    align-content: center;
}
