.sponsors {
  @include fill-parent;
  padding: 0;
  display: block;
  max-width: 100%;
  background-color: $blue;
  .sponsors-body {
    padding: 50px;
    border-top: 1px dashed $dark;
    @include span-columns(8 of 12);
    @include shift(2);
  }
  .sponsors-body .callToAction {
    @include span-columns(6 of 12);
    @include shift(3);
  }
}
