<table class="articles-list">
    <tbody>
    {% for article in articles %}
    <tr data-country="{{article.location.country}}">
        <td>{{ article.year }}</td>
        <td><a href="{{ article.url }}">{{ article.title }}</a></td>
        <td>
            {% assign author = article.author %}
            {% assign first_char = author | slice: 0 %}
            {% if first_char == '@' %}
            {% assign sizeWithoutAt = author | size | minus: 1 %}
            {% assign handle = author | slice: 1, sizeWithoutAt %}
            <a href="https://twitter.com/{{ handle }}">{{ author }}</a>
            {% else %}
            {{ author }}
            {% endif %}
        </td>
        {% assign city = article.location.city | downcase %}
        {% if city == 'unknown' %}
        <td>-</td>
        {% elsif city == 'remote' %}
        <td>Remote</td>
        {% else %}
        <td>{{ article.location.city }} ({{ article.location.country }})</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
