
<div class="twitter-card" style="margin: 30px; max-width: 290px; max-height: 355px; background-color: white">
  <div class="twitter-card-banner"><img src="https://pbs.twimg.com/profile_banners/14844438/1380485155/600x200" style="max-width:100%; max-height:100%;"></div>
  <div>
    <div class="twitter-card-avatar"><img src="https://pbs.twimg.com/profile_images/741570781138817025/avDWO0Xn_400x400.jpg" style="max-width:70px; max-height:70px;"></div>
    <div class="twitter-card-avatar"><button>Follow</button></div>
  </div>
  <div class="twitter-card-avatar">{{trainer.name}}</div>
  <div class="twitter-card-avatar">alexboly</div>
  <div class="twitter-card-avatar">Programmer, CTO, designer, writer, trainer, coach, SciFi lover. Love to build & understand things.</div>
</div>
