<div class="mdc-card demo-card" data-country="{{event.location.country | default: 'virtual'}}" data-labels={{event.labels|jsonify}}>
  <div class="demo-card__primary">
    <h2 class="demo-card__title mdc-typography mdc-typography--headline6">
      <a href="{{ event.url }}">{{ event.title }}</a>
    </h2>
  </div>
  <div class="demo-card__secondary mdc-typography mdc-typography--body2">
    <h3>🌍 
      {% if event.location == "virtual" %}
          Virtual (Remote)
      {% else %}
          {{ event.location.city }} ({{ event.location.country }})
      {% endif %}
    </h3>
    <p>🗓️ <strong>{{ event.datetime | date: "%a, %B %d, %H:%M" }}</strong></p>
    <p>👥 <strong>Facilitator(s)</strong>: {% include event-moderators.html %}</p>
    <p>💰 <strong>Sponsor(s)</strong>: {% include event-sponsors.html %}</p>
  </div>
</div>
