<section id="locations">
  <h2 class="h2-main-page">Global Day of Coderetreat</h2>
  <p class="subtitle">November 16th (and 15th), 2019</p>
  <p class="subtitle">Last year, there have been <a href="/events">{{site.data.events_gdcr2018 | size}} GDCR 2018 events</a> around the world!</p>

  <div id="map">
    <div id="popup"></div>
  </div>
</section>

<script>
$(function() {
  $.get("/events/2018/global-day/events.json", function(eventsJson) {
    var gdcrEvents = mapEventsDataToMapFormat(eventsJson);
    addEventsToMap(gdcrEvents);
  });
});
</script>
