<section id="locations">
  <h2 class="highlight">Global Day of Coderetreat <img src="/images/logo_400x400.jpg" height=20 alt="" style="border-radius: 50px;"> November 17, 2018</h2>
  <p class="highlight">So far, there are <a href="/events">{{site.data.events_gdcr2018 | size}} GDCR 2018 events</a> registered around the world!</p>

  <div id="map">
    <div id="popup"></div>
  </div>

  <div class="map-aside" style="align-content: center">
    <div class="highlight">
      <u>The Global Day of Coderetreat starts in:</u>
      {% include countdown.liquid date='2018-11-17T00:00:00.000Z' size='large' name ='gdcr2018' %}
    </div>
    <p class="calltoaction">
      <a class="button" href="/register-event">Register Your Event!</a>
    </p>
  </div>
</section>

<script>
$(function() {
  $.get("/events/gdcr2018.json", function(eventsJson) {
    var gdcrEvents = mapEventsDataToMapFormat(eventsJson);
    addEventsToMap(gdcrEvents);
  });
});
</script>
