<div id="footer">
    <div class="container-wide">
        <a href="https://twitter.com/coderetreat" title="Follow us on Twitter"><img src="/images/twitter.svg" alt=""></a>
        <a href="http://slack.softwarecrafters.org" title="Join us on Slack at #coderetreat channel"><img src="/images/slack.svg" alt=""></a>
        <a href="https://github.com/coderetreat/coderetreat.org" title="Fork me on GitHub"><img src="/images/github.svg" alt=""></a>
    </div>
    <div class="row">
        <div class="col-lg-12"><small><center>Made with <i class="fa fa-heart">&nbsp;</i> by the GDCR coordinators team</center></small></div>
    </div>
</div>
