<div class="format-background">
  <section class="format">
    <h2 class="h2-main-page">It's Really Quite Simple...</h2>
      <div class="step">
        <span class="description">
          Start with a simple programming problem: Conway's Game of Life
        </span>
      </div>
      <div class="step">
        <span class="description">
          Work with different partners to discuss and solve the problem
        </span>
      </div>
      <div class="step">
        <span class="description">
          Add restrictions to force you to consider different approaches
        </span>
      </div>
      <div class="step">
        <span class="description">
          After each round, throw out your code and repeat!
        </span>
      </div>
   </section>
</div>


