<section id="hosting" class="hosting">
  <h2 class="h2-main-page">Host your own Coderetreat</h2>

  <div class="host-contents">
  <div class="host-aside">
    <p>
      Coderetreats are run by volunteers who want to help out
      their local developer community.
       Hosts handle all of the logistics,
       and facilitators guide participants through the exercises.
     </p>
    <p>
      Coderetreats are easy to organize and facilitate.  Most of all, they are a lot of fun and a great way
      to meet other developers in your area!
    </p>
    <p>
      What are you waiting for? Grab a buddy and organize a coderetreat today!
    </p>
  </div>
  <div class="host-pictures">
    <img class="hosts-picture" src="/images/hosts.png"></img>
    <div class="copy">
      <p>
        Join hundreds of hosts who want to help
        developers in their community improve their craft.
      </p>
     </div>

     <div class="overlay"></div>

   </div>
  </div>
  <a class="button" href="{% link pages/hosting/hosts.md %}">Learn about hosting and facilitating</a>
</section>
