<li class="nav-item">
  <a class="nav-link" href="{% link facilitators/facilitating.md %}">Facilitating</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% link facilitators/hosting.md %}">Hosting</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% link facilitators/constraints.md %}">Constraints</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% link facilitators/gameoflife.md %}">Game Of Life</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% link facilitators/training-sessions.html %}">Training Sessions</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% link facilitators/resources.md %}">Resources</a>
</li>
<li class="nav-item pl-lg-4">
  <a href="{% link index.html %}" class="nav-link btn btn-participants text-dark"
    >Back to Participants</a
  >
</li>
