<li class="nav-item">
  <a class="nav-link" href="#">📅 Training Sessions</a>
</li>
<li class="nav-divider">&nbsp;</li>
<li class="nav-item">
  <a class="nav-link" href="#">🏁 Facilitation</a>
</li>
<li class="nav-divider">&nbsp;</li>
<li class="nav-item">
  <a class="nav-link" href="#">🏢 Hosting</a>
</li>
<li class="nav-divider">&nbsp;</li>
<li class="nav-item">
  <a class="nav-link" href="#">🌐 Global Day (Nov 6th-7th 2020)</a>
</li>
<li class="nav-item pl-lg-4">
  <a href="{% link index.html %}" class="nav-link btn btn-participants text-dark"
    >For Participants</a
  >
</li>
