<li class="nav-item">
  <a class="nav-link" href="#">🌐 Global Day (Nov 6th-7th 2020)</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#news">📰 News</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">👋 Communities</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="nav-menu-about" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    💡 About
  </a>
  <div class="dropdown-menu" aria-labelledby="nav-menu-about">
    <a class="dropdown-item" href="#">Getting Started</a>
    <a class="dropdown-item" href="#">The Workshop</a>
    <a class="dropdown-item" href="#">Code of Conduct</a>
    <a class="dropdown-item" href="#">FAQ</a>
  </div>
</li>
<li class="nav-item pl-lg-4">
  <a
    href="{% link facilitators/index.html %}"
    class="nav-link btn btn-facilitators text-dark"
    >Host your own!</a
  >
</li>
