<li class="nav-item">
  <a class="nav-link" href="{% link facilitators/globalday.md %}"><img style="height: 1em; margin-bottom: 5px" src="{{ "/assets/globe.svg" | relative_url }}"/> Global Day (Nov 6th-7th 2020)</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% link facilitators/training-sessions.md %}">Training Sessions</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% link facilitators/facilitation.md %}">Facilitation</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% link facilitators/hosting.md %}">Hosting</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% link facilitators/resources.md %}">Resources</a>
</li>
<li class="nav-item pl-lg-4">
  <a href="{% link index.html %}" class="nav-link btn btn-participants text-dark"
    >For Participants</a
  >
</li>
