<div class="navbar">

  <div class="navbar-inner">
    <div class="logo-nav-container">
      <a class="logo" href="{{ site.baseurl }}/">
        <img src="/images/coderetreat-logo.png" alt="">
      </a>
      <a href="#" id='nav-click'>
        <b class='menu-word'>Menu</b>
        <button class="hamburger" id='hamburger'>
          <span>toggle menu</span>
        </button>
      </a>
      <b class="nav-links" id="mobile-nav">
        <a href="{% link pages/about.html %}"      >About</a>
        <a href="{% link pages/why-attend.md %}"      >Why Attend</a>
        <a href="{% link events/index.html %}"      >Where</a>
        <a href="{% link articles/index.html %}"    >Articles</a>
        <a href="{% link pages/hosting/hosts.md %}" >Hosting</a>
        <a href="{% link pages/facilitating/facilitating.md %}" >Facilitating</a>
        <a href="{% link pages/training.md %}"      >Training</a>
      </b>
    </div>

  </div>

</div>

<script type='text/javascript'>
  var clickEvent = (function() {
    if ('ontouchstart' in document.documentElement === true)
      return 'touchstart'
    else
      return 'click'
  })()
  var mobileNav = document.getElementById('mobile-nav')
  var hamburger = document.getElementById('hamburger')
  $(hamburger).on(clickEvent, function() {
    mobileNav.classList.toggle('expand')
  })
</script>
