<div eventid="c5kc2oe4sklhj7f2jcmf7rna9ro" class="d-k-l yB kPb mPb">
    <div class="JN yg">
        <a href="{{ training.url }}" target="_blank" class="d-s ob" tabindex="0">
            <div class="ux Fu"><img src="{{ training.image }}" class="Ym">
                <div class="UH"></div>
            </div>
        </a>
    </div>
    <div class="xOa">
        <a href="{{ training.trainerProfile }}" target="_blank" class="ob Jk" oid="103174616302996282485">
          <img src="{{ training.trainerPhoto }}" width="46px" height="46px" alt="{{ training.trainerName }}'s profile photo" class="we jPb" oid="103174616302996282485">
        </a>
    </div>
    <div class="ow">
        <a href="{{ training.url }}" target="_blank" class="d-s ob pw" data-tooltip="View event" tabindex="0">
          Global Day of Coderetreat -
          {{ training.type }} training session
        </a>
        <div class="pD">
            <div class="qW">
                <span role="button" class="d-s Fy Ij" tabindex="0" aria-haspopup="true">
                    <span class="l4"></span>{{ training.dateTime }}<span class="nA d-y-r-c-Qa"></span>
                </span>
                <div class="cM"></div>
            </div>
            <span role="button" class="d-s aM k4 Ij f2" tabindex="0">
                <span class="i4"></span>Hangouts, with {{ training.trainerName }}</span>
        </div>
    </div>
</div>
