<div class="mdc-card demo-card">
  <div class="mdc-card__primary-action demo-card__primary-action" tabindex="0">
    <div class="mdc-card__media mdc-card__media--16-9 demo-card__media" style="background-image: url(&quot;{{topic.image}}&quot;);"></div>
    <div class="demo-card__primary">
      <h3 class="demo-card__title mdc-typography mdc-typography--headline6">{{topic.title}}</h3>
    </div>
    <div class="demo-card__secondary mdc-typography mdc-typography--body2">{{topic.description}}</div>
  </div>
</div>
