<section class="blue-section" id="twitter">
  <div>
    <h1>Latest news</h1>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">We just curated some &quot;Help Wanted&quot;-tasks. <br>Got a spare hour to contribute to coderetreats all over the world? 💟 <a href="https://t.co/drtwWthCil">https://t.co/drtwWthCil</a></p>&mdash; Coderetreat (@coderetreat) <a href="https://twitter.com/coderetreat/status/893076915740966912">August 3, 2017</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="https://twitter.com/coderetreat" class="button"> See more tweets from @coderetreat</a>
  </div>
</section>


