<section class="blue-section" id="twitter">
  <div>
    <h2>Latest news</h2>
    <blockquote class="twitter-tweet" data-cards="hidden" data-lang="en"><p lang="en" dir="ltr">🌐 Want to host or facilitate a coderetreat this year? We&#39;re organizing our training sessions through our virtual meetup group this year. <br><br>Join the meetup so you don&#39;t miss a session! <a href="https://t.co/kTiTyA3Ql6">https://t.co/kTiTyA3Ql6</a></p>&mdash; Coderetreat (@coderetreat) <a href="https://twitter.com/coderetreat/status/1088318481488113664">January 24, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="https://twitter.com/coderetreat" class="button">See more tweets from @coderetreat</a>
  </div>
</section>
