<section id="news">
  <div>
    <h2 class="h2-main-page">Latest news</h2>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">🌐 Event-Registration is now online for <a href="https://twitter.com/hashtag/gdcr19?src=hash&amp;ref_src=twsrc%5Etfw">#gdcr19</a>! <a href="https://twitter.com/hashtag/coderetreat?src=hash&amp;ref_src=twsrc%5Etfw">#coderetreat</a><br><br>We also improved the wizard: you can now add sponsors and moderators and specify start- &amp; end-time, so we&#39;re well prepared for events happening on Friday 🎉<a href="https://t.co/CcSnPtFBSq">https://t.co/CcSnPtFBSq</a></p>&mdash; Coderetreat (@coderetreat) <a href="https://twitter.com/coderetreat/status/1143569977221484544?ref_src=twsrc%5Etfw">June 25, 2019</a></blockquote>
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">🎉 Happy 10th Coderetreat Anniversary! On this day 10 years ago the first coderetreat was held in Ann Arbor, MI - Time to celebrate! 🎉 <a href="https://twitter.com/hashtag/coderetreat?src=hash&amp;ref_src=twsrc%5Etfw">#coderetreat</a></p>&mdash; Coderetreat (@coderetreat) <a href="https://twitter.com/coderetreat/status/1088318474487848961?ref_src=twsrc%5Etfw">January 24, 2019</a></blockquote>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a href="https://twitter.com/coderetreat" class="button">See more tweets from @coderetreat</a>
  </div>
</section>
