@mixin helpful-box($image: null, $width: 50px, $text: null) {
  background: theme-color("light");
  position: relative;
  min-height: calc(#{$width} + #{$spacer}* 2);

  &:before {
    content: " ";
    @if $image != null {
      background-image: $image;
    }
    width: $width;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    top: $spacer;
    left: $spacer;
    bottom: $spacer;
    position: absolute;
    font-weight: bold;
    float: left;
  }
  @if $text != null {
    > p:first-child:before {
      content: "#{$text}: ";
      font-weight: bold;
    }
  }
  > p:last-child {
    margin-bottom: 0;
  }
  font-size: 1rem;
  border-left: 3px solid theme-color("primary");
  padding: $spacer/2;
  padding-left: calc(40px + #{$spacer}* 2);
  margin: $spacer * 2 $spacer;

  @include media-breakpoint-down("md") {
    margin: $spacer * 2 0;
    font-size: 0.9rem;
    padding: $spacer/2;
    &:before {
      margin: $spacer/2;
      float: right;
      position: relative;
      top: unset;
      left: unset;
      bottom: unset;
      height: $width;
      display: block;
    }
  }
}

main div.advice {
  @include helpful-box(
    url("data:image/svg+xml,%3Csvg height='512' width='512' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3ClinearGradient id='a'%3E%3Cstop offset='0' stop-color='%23ffe59a'/%3E%3Cstop offset='1' stop-color='%23ffffd5'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='256' x2='256' xlink:href='%23a' y1='512' y2='406'/%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='256' x2='256' y1='436' y2='0'%3E%3Cstop offset='0' stop-color='%23fd5900'/%3E%3Cstop offset='1' stop-color='%23ffde00'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='256' x2='256' xlink:href='%23a' y1='240' y2='120'/%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='256' x2='256' xlink:href='%23a' y1='300' y2='270'/%3E%3Cpath d='M316 512H196c-8.284 0-15-6.716-15-15v-76c0-8.284 6.716-15 15-15h120c8.284 0 15 6.716 15 15v76c0 8.284-6.716 15-15 15z' fill='url(%23b)'/%3E%3Cpath d='M256 0C156.748 0 76 80.748 76 180c0 65.601 29.842 99.99 56.171 130.331C157.281 339.268 181 366.601 181 421v15h150v-15c0-54.399 23.719-81.732 48.829-110.669C406.158 279.99 436 245.601 436 180 436 80.748 355.252 0 256 0z' fill='url(%23c)'/%3E%3Cpath d='M256 240c-8.284 0-15-6.716-15-15v-90c0-8.284 6.716-15 15-15s15 6.716 15 15v90c0 8.284-6.716 15-15 15z' fill='url(%23d)'/%3E%3Ccircle cx='256' cy='285' fill='url(%23e)' r='15'/%3E%3C/svg%3E"),
    50px,
    "Tip"
  );
  &.small {
    font-size: 0.9em;
    padding-left: calc(20px + #{$spacer}*2);
    min-height: unset;
    &:before {
      width: 30px;

    }
  }
}

main div.tldr {
  @include helpful-box(
    null
    50px
  );
  font-size: 0.9em;
  min-height: unset;
  font-family: monospace;
  ul {
    padding-left: $spacer;
    margin: 0;
  }
  &:before {
    top: $spacer/2;
    font-style: italic;
    content: "TL;DR"
  }
}

main div.remote {
  @include helpful-box(
    url("data:image/svg+xml,%3Csvg height='512' viewBox='0 0 511.977 511.977' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='257.339' x2='257.339' y1='496.192' y2='112.728'%3E%3Cstop offset='0' stop-color='%23a93aff'/%3E%3Cstop offset='1' stop-color='%23ff81ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='255.988' x2='255.988' y1='488.422' y2='15.785'%3E%3Cstop offset='0' stop-color='%23ffbef9'/%3E%3Cstop offset='1' stop-color='%23fff1ff'/%3E%3C/linearGradient%3E%3Cpath d='M133.475 323.109c-8.401-23.399-34.497-35.4-57.898-27.001-15.906 5.736-26.365 19.856-28.833 35.466-14.614-69.666 6.511-142.05 57.558-193.256 5.83-5.874 5.83-15.366-.059-21.211-5.801-5.83-15.352-5.859-21.211.029C18.756 181.634-3.92 275.575 23.854 362.294c2.499 7.747 10.818 12.251 18.867 9.697a14.974 14.974 0 004.084-2.026l-8.535 66.971 51.707 29.574c1.802 5.099 4.501 9.3 7.8 13.2 10.687 13.852 30.467 20.624 49.797 13.799 23.401-8.399 35.402-34.499 27.004-57.599zM431.67 117.137c-5.859-5.889-15.352-5.859-21.211-.029-5.889 5.845-5.889 15.337-.059 21.211 53.377 53.556 73.971 130.105 55.334 202.607a43.11 43.11 0 00.062-2.217c0-18.784-11.125-35.757-29.7-42.601-22.536-8.3-48.584 2.527-57.601 27.001l-41.096 112.8c-8.401 23.101 3.596 49.2 26.997 57.599 19.239 6.793 38.717.054 49.801-13.799 3.3-3.9 5.999-8.101 7.797-13.2l51.514-29.041-8.567-68.928a14.908 14.908 0 006.63 4.387c7.703 2.517 16.304-1.623 18.897-9.624 28.302-87.025 5.773-181.346-58.798-246.166z' fill='url(%23a)'/%3E%3Cpath d='M434.161 135.36c15.186-19.741 11.482-47.941-8.232-63.105-97.852-75.293-239.33-75.293-337.182 0-19.712 15.163-23.434 43.368-8.203 63.12 15.182 19.737 43.452 23.372 63.076 8.218 65.566-50.479 161.869-50.449 227.436 0 19.189 14.736 48.485 10.795 63.105-8.233zm48.134 209.648l-16.498-6.299c0 5.099-.897 10.199-2.699 15l-41.104 112.8c-1.798 5.099-4.497 9.3-7.797 13.2l16.798 5.999c24.13 8.514 48.907-3.724 57.601-26.699l20.702-56.4c8.399-23.4-3.602-49.2-27.003-57.601zM48.877 353.71c-1.798-5.101-2.699-9.901-2.699-15l-16.501 6.299C6.276 353.41-5.721 379.209 2.68 402.61l20.398 56.4c8.812 23.371 34.337 35.018 57.898 26.699l16.802-5.999c-3.3-3.9-5.999-8.101-7.8-13.2z' fill='url(%23b)'/%3E%3C/svg%3E%0A"),
    45px,
    "Remote Tip"
  );
}

main div.gdcr {
  @include helpful-box(
    url("data:image/svg+xml,%3Csvg height='512' viewBox='0 0 512.268 512.268' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='256.268' cy='256.094' fill='%2377b0fb' transform='rotate(-45 256.24 256.16)' r='248'/%3E%3Cpath d='M256.268 8.094v496c136.967 0 248-111.032 248-247.999 0-136.968-111.033-248.001-248-248.001z' fill='%235a9ffb'/%3E%3Cpath d='M257.804.112c-.513-.017-1.024-.017-1.536-.03v512.104c65.522-.009 131.016-25.07 181.02-75.073 48.352-48.353 74.98-112.64 74.98-181.02C512.268 115.224 398.711.936 257.804.112zm223.954 240.982h-75.335c-1.98-37.054-11.24-73.388-26.712-107.082 15.352-8.472 29.884-18.582 43.389-30.213 33.572 36.746 55.187 84.581 58.658 137.295zm-80.422-158.15a225.952 225.952 0 01-35.476 24.428 311.41 311.41 0 00-56.861-71.052c34.519 8.282 65.979 24.504 92.337 46.624zM271.268 43.453a281.042 281.042 0 0167.37 76.73c-21.377 8.363-44.05 13.443-67.37 14.97zm0 121.753c28.241-1.63 55.675-7.841 81.393-18.292 13.568 29.686 21.774 61.618 23.716 94.18H271.268zm0 105.888h105.108c-1.941 32.561-10.147 64.493-23.716 94.18-25.718-10.451-53.151-16.662-81.393-18.292v-75.888zm0 197.64v-91.7c23.32 1.526 45.993 6.606 67.37 14.97a281.042 281.042 0 01-67.37 76.73zm37.731 7.133a311.41 311.41 0 0056.861-71.052 225.91 225.91 0 0135.476 24.428c-26.358 22.12-57.818 38.342-92.337 46.624zM423.1 408.388c-13.505-11.631-28.037-21.741-43.389-30.213 15.472-33.694 24.731-70.028 26.712-107.082h75.335c-3.471 52.714-25.086 100.549-58.658 137.295z' fill='%2377b0fb'/%3E%3Cpath d='M0 256.141c0 68.38 26.629 132.667 74.98 181.019 50.096 50.096 115.572 75.083 181.02 75.074L257.536.159C125.876-4.23 0 107.392 0 256.141zM205.956 35.734a311.39 311.39 0 00-58.03 72.517 225.825 225.825 0 01-36.994-25.26c27.042-22.693 59.45-39.183 95.024-47.257zM89.168 103.846a256.002 256.002 0 0045.005 31.08c-15.233 33.451-24.355 69.479-26.319 106.215H30.51c3.471-52.715 25.086-100.55 58.658-137.295zM30.51 271.141h77.344c1.964 36.736 11.086 72.763 26.319 106.215a256.002 256.002 0 00-45.005 31.08c-33.572-36.747-55.187-84.582-58.658-137.295zm80.422 158.149a225.93 225.93 0 0136.994-25.26 311.416 311.416 0 0058.03 72.517c-35.574-8.074-67.982-24.565-95.024-47.257zM241 467.183a281.073 281.073 0 01-65.739-75.77c20.898-7.987 43.012-12.845 65.739-14.332zm0-120.155c-27.62 1.594-54.466 7.577-79.69 17.617-13.385-29.495-21.482-61.19-23.408-93.505H241zm0-105.887H137.901c1.926-32.316 10.023-64.01 23.408-93.505 25.225 10.04 52.07 16.023 79.69 17.617v75.888zm0-105.941c-22.728-1.487-44.841-6.345-65.739-14.332A281.105 281.105 0 01241 45.098z' fill='%2384d9f3'/%3E%3C/svg%3E%0A"),
    45px,
    "Global Day Of Coderetreat"
  );
}
