@import "colors";
@import "fonts";

html, body {
  margin: 0;
  background-color: $light;
  color: $dark;
  padding-bottom: $gutter;
  line-height: $gutter;
  font-family: $body-font;
  @include media($mobile) {
    font-size: 12px;
    h1 { font-size: 1.5em; }
    h2 { font-size: 1.3em; }
    h3 { font-size: 1.2em; }
  }
}

p {
  margin-top: 0px;
}

a {
  color: $green;
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

section {
  padding: $gutter 0;
  padding-bottom: $gutter*2;
  @include outer-container;
  @include media($tablet) {
    padding: $gutter;
  }
}

h1, h2, h3 {
  font-family: $title-font;
  line-height: 1.1;
}
h1, h2 {
  text-align: center;
}
h1 {
  font-size: 2em;
  line-height: 1.2em;
}
h2 { font-size: 1.8em; }

#content {
   @include media($mobile) {
     width: 90%;
     margin: 5%;
   }
}

.quote {
  border-left: 10px solid #7DBED0;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.quote:before {
  color: #7DBED0;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.quote .first {
  display: inline;
}

cite {
  color: #7DBED0;
  font-weight: bold;
  font-size: 1.1em;
}

.button {
  background-color: $green;
  text-decoration: none;
  color: $light;
  font-size: 1.2em;
  padding: $gutter/1.2;
  display: block;
  text-align: center;
  @include fill-parent;
  transition: linear 0.5s;
  &:hover {
    background-color: $lightgreen;
  }
  border-radius: 4px;
}

.blue-section {
  @include fill-parent;
  padding-bottom: 50;
  max-width: 100%;
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-content: center;
}

.last-section {
  background-color: #1a3238;
  font-size: 1.2em;
  padding: $gutter/1.2;
  display: block;
  text-align: center;
  border-radius: 4px;
}

.last-section a {
  color: white;
}
