.postedBy {
  color: gray;
  font-size: 12px;
}

.posts-container {
  padding: 0 calc((100% - 700px)/2);
  @include media($mobile) {
    padding: 0 15px;
  }
}

ul.posts-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  > li {
    margin-bottom: 30px;

    h2 {
      font-size: 1.3em;
      text-align: left;
    }
  }
}

.post-avatar {
  @include media($mobile) {
    display: none;
  }

  a,
  a:active,
  a:focus,
  a:hover {
    text-decoration: none;
  }
}

.post-header {
  margin-bottom: 20px;
}
