.mdc-card { border-radius: 4px; background-color: #fff; /* @alternate */ background-color: var(--mdc-theme-surface, #fff); box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); display: flex; flex-direction: column; box-sizing: border-box; }

.mdc-card--outlined { box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12); border-width: 1px; border-style: solid; border-color: #e0e0e0; }

.mdc-card__media { position: relative; box-sizing: border-box; background-repeat: no-repeat; background-position: center; background-size: cover; }
.mdc-card__media::before { display: block; content: ""; }

.mdc-card__media:first-child { border-top-left-radius: inherit; border-top-right-radius: inherit; }

.mdc-card__media:last-child { border-bottom-left-radius: inherit; border-bottom-right-radius: inherit; }

.mdc-card__media--square::before { margin-top: 100%; }

.mdc-card__media--16-9::before { margin-top: 56.25%; }

.mdc-card__media-content { position: absolute; top: 0; right: 0; bottom: 0; left: 0; box-sizing: border-box; }

.mdc-card__primary-action { display: flex; flex-direction: column; box-sizing: border-box; position: relative; outline: none; color: inherit; text-decoration: none; cursor: pointer; overflow: hidden; }

.mdc-card__primary-action:first-child { border-top-left-radius: inherit; border-top-right-radius: inherit; }

.mdc-card__primary-action:last-child { border-bottom-left-radius: inherit; border-bottom-right-radius: inherit; }

.mdc-card__actions { display: flex; flex-direction: row; align-items: center; box-sizing: border-box; min-height: 52px; padding: 8px; }

.mdc-card__actions--full-bleed { padding: 0; }

.mdc-card__action-buttons, .mdc-card__action-icons { display: flex; flex-direction: row; align-items: center; box-sizing: border-box; }

.mdc-card__action-icons { color: rgba(0, 0, 0, 0.6); flex-grow: 1; justify-content: flex-end; }

.mdc-card__action-buttons + .mdc-card__action-icons { /* @noflip */ margin-left: 16px; /* @noflip */ margin-right: 0; }
[dir="rtl"] .mdc-card__action-buttons + .mdc-card__action-icons, .mdc-card__action-buttons + .mdc-card__action-icons[dir="rtl"] { /* @noflip */ margin-left: 0; /* @noflip */ margin-right: 16px; }

.mdc-card__action { display: inline-flex; flex-direction: row; align-items: center; box-sizing: border-box; justify-content: center; cursor: pointer; user-select: none; }
.mdc-card__action:focus { outline: none; }

.mdc-card__action--button { /* @noflip */ margin-left: 0; /* @noflip */ margin-right: 8px; padding: 0 8px; }
[dir="rtl"] .mdc-card__action--button, .mdc-card__action--button[dir="rtl"] { /* @noflip */ margin-left: 8px; /* @noflip */ margin-right: 0; }
.mdc-card__action--button:last-child { /* @noflip */ margin-left: 0; /* @noflip */ margin-right: 0; }
[dir="rtl"] .mdc-card__action--button:last-child, .mdc-card__action--button:last-child[dir="rtl"] { /* @noflip */ margin-left: 0; /* @noflip */ margin-right: 0; }

.mdc-card__actions--full-bleed .mdc-card__action--button { justify-content: space-between; width: 100%; height: auto; max-height: none; margin: 0; padding: 8px 16px; /* @noflip */ text-align: left; }
[dir="rtl"] .mdc-card__actions--full-bleed .mdc-card__action--button, .mdc-card__actions--full-bleed .mdc-card__action--button[dir="rtl"] { /* @noflip */ text-align: right; }

.mdc-card__action--icon { margin: -6px 0; padding: 12px; }

.mdc-card__action--icon:not(:disabled) { color: rgba(0, 0, 0, 0.6); }

@keyframes mdc-ripple-fg-radius-in { from { animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1); }
  to { transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1)); } }
@keyframes mdc-ripple-fg-opacity-in { from { animation-timing-function: linear; opacity: 0; }
  to { opacity: var(--mdc-ripple-fg-opacity, 0); } }
@keyframes mdc-ripple-fg-opacity-out { from { animation-timing-function: linear; opacity: var(--mdc-ripple-fg-opacity, 0); }
  to { opacity: 0; } }
.mdc-ripple-surface--test-edge-var-bug { --mdc-ripple-surface-test-edge-var: 1px solid #000; visibility: hidden; }
.mdc-ripple-surface--test-edge-var-bug::before { border: var(--mdc-ripple-surface-test-edge-var); }

.mdc-card__primary-action { --mdc-ripple-fg-size: 0; --mdc-ripple-left: 0; --mdc-ripple-top: 0; --mdc-ripple-fg-scale: 1; --mdc-ripple-fg-translate-end: 0; --mdc-ripple-fg-translate-start: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); will-change: transform, opacity; }
.mdc-card__primary-action::before, .mdc-card__primary-action::after { position: absolute; border-radius: 50%; opacity: 0; pointer-events: none; content: ""; }
.mdc-card__primary-action::before { transition: opacity 15ms linear, background-color 15ms linear; z-index: 1; }
.mdc-card__primary-action.mdc-ripple-upgraded::before { transform: scale(var(--mdc-ripple-fg-scale, 1)); }
.mdc-card__primary-action.mdc-ripple-upgraded::after { top: 0; /* @noflip */ left: 0; transform: scale(0); transform-origin: center center; }
.mdc-card__primary-action.mdc-ripple-upgraded--unbounded::after { top: var(--mdc-ripple-top, 0); /* @noflip */ left: var(--mdc-ripple-left, 0); }
.mdc-card__primary-action.mdc-ripple-upgraded--foreground-activation::after { animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards; }
.mdc-card__primary-action.mdc-ripple-upgraded--foreground-deactivation::after { animation: mdc-ripple-fg-opacity-out 150ms; transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1)); }
.mdc-card__primary-action::before, .mdc-card__primary-action::after { top: calc(50% - 100%); /* @noflip */ left: calc(50% - 100%); width: 200%; height: 200%; }
.mdc-card__primary-action.mdc-ripple-upgraded::after { width: var(--mdc-ripple-fg-size, 100%); height: var(--mdc-ripple-fg-size, 100%); }
.mdc-card__primary-action::before, .mdc-card__primary-action::after { background-color: #000; }
.mdc-card__primary-action:hover::before { opacity: 0.04; }
.mdc-card__primary-action:not(.mdc-ripple-upgraded):focus::before, .mdc-card__primary-action.mdc-ripple-upgraded--background-focused::before { transition-duration: 75ms; opacity: 0.12; }
.mdc-card__primary-action:not(.mdc-ripple-upgraded)::after { transition: opacity 150ms linear; }
.mdc-card__primary-action:not(.mdc-ripple-upgraded):active::after { transition-duration: 75ms; opacity: 0.12; }
.mdc-card__primary-action.mdc-ripple-upgraded { --mdc-ripple-fg-opacity: 0.12; }

.mdc-button { font-family: Roboto, sans-serif; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; font-size: 0.875rem; line-height: 2.25rem; font-weight: 500; letter-spacing: 0.0892857143em; text-decoration: none; text-transform: uppercase; padding: 0 8px 0 8px; display: inline-flex; position: relative; align-items: center; justify-content: center; box-sizing: border-box; min-width: 64px; height: 36px; border: none; outline: none; /* @alternate */ line-height: inherit; user-select: none; -webkit-appearance: none; overflow: hidden; vertical-align: middle; border-radius: 4px; }
.mdc-button::-moz-focus-inner { padding: 0; border: 0; }
.mdc-button:active { outline: none; }
.mdc-button:hover { cursor: pointer; }
.mdc-button:disabled { background-color: transparent; color: rgba(0, 0, 0, 0.37); cursor: default; pointer-events: none; }
.mdc-button.mdc-button--dense { border-radius: 4px; }
.mdc-button:not(:disabled) { background-color: transparent; }
.mdc-button .mdc-button__icon { /* @noflip */ margin-left: 0; /* @noflip */ margin-right: 8px; display: inline-block; width: 18px; height: 18px; font-size: 18px; vertical-align: top; }
[dir="rtl"] .mdc-button .mdc-button__icon, .mdc-button .mdc-button__icon[dir="rtl"] { /* @noflip */ margin-left: 8px; /* @noflip */ margin-right: 0; }
.mdc-button:not(:disabled) { color: #6200ee; /* @alternate */ color: var(--mdc-theme-primary, #6200ee); }

.mdc-button__label + .mdc-button__icon { /* @noflip */ margin-left: 8px; /* @noflip */ margin-right: 0; }
[dir="rtl"] .mdc-button__label + .mdc-button__icon, .mdc-button__label + .mdc-button__icon[dir="rtl"] { /* @noflip */ margin-left: 0; /* @noflip */ margin-right: 8px; }

svg.mdc-button__icon { fill: currentColor; }

.mdc-button--raised .mdc-button__icon, .mdc-button--unelevated .mdc-button__icon, .mdc-button--outlined .mdc-button__icon { /* @noflip */ margin-left: -4px; /* @noflip */ margin-right: 8px; }
[dir="rtl"] .mdc-button--raised .mdc-button__icon, .mdc-button--raised .mdc-button__icon[dir="rtl"], [dir="rtl"] .mdc-button--unelevated .mdc-button__icon, .mdc-button--unelevated .mdc-button__icon[dir="rtl"], [dir="rtl"] .mdc-button--outlined .mdc-button__icon, .mdc-button--outlined .mdc-button__icon[dir="rtl"] { /* @noflip */ margin-left: 8px; /* @noflip */ margin-right: -4px; }
.mdc-button--raised .mdc-button__label + .mdc-button__icon, .mdc-button--unelevated .mdc-button__label + .mdc-button__icon, .mdc-button--outlined .mdc-button__label + .mdc-button__icon { /* @noflip */ margin-left: 8px; /* @noflip */ margin-right: -4px; }
[dir="rtl"] .mdc-button--raised .mdc-button__label + .mdc-button__icon, .mdc-button--raised .mdc-button__label + .mdc-button__icon[dir="rtl"], [dir="rtl"] .mdc-button--unelevated .mdc-button__label + .mdc-button__icon, .mdc-button--unelevated .mdc-button__label + .mdc-button__icon[dir="rtl"], [dir="rtl"] .mdc-button--outlined .mdc-button__label + .mdc-button__icon, .mdc-button--outlined .mdc-button__label + .mdc-button__icon[dir="rtl"] { /* @noflip */ margin-left: -4px; /* @noflip */ margin-right: 8px; }

.mdc-button--raised, .mdc-button--unelevated { padding: 0 16px 0 16px; }
.mdc-button--raised:disabled, .mdc-button--unelevated:disabled { background-color: rgba(0, 0, 0, 0.12); color: rgba(0, 0, 0, 0.37); }
.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) { background-color: #6200ee; }
@supports not (-ms-ime-align: auto) { .mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) { /* @alternate */ background-color: var(--mdc-theme-primary, #6200ee); } }
.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) { color: #fff; /* @alternate */ color: var(--mdc-theme-on-primary, #fff); }

.mdc-button--raised { box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); }
.mdc-button--raised:hover, .mdc-button--raised:focus { box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); }
.mdc-button--raised:active { box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); }
.mdc-button--raised:disabled { box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12); }

.mdc-button--outlined { border-style: solid; padding: 0 14px 0 14px; border-width: 2px; }
.mdc-button--outlined:disabled { border-color: rgba(0, 0, 0, 0.37); }
.mdc-button--outlined:not(:disabled) { border-color: #6200ee; /* @alternate */ border-color: var(--mdc-theme-primary, #6200ee); }

.mdc-button--dense { height: 32px; font-size: .8125rem; }

.mdc-button { --mdc-ripple-fg-size: 0; --mdc-ripple-left: 0; --mdc-ripple-top: 0; --mdc-ripple-fg-scale: 1; --mdc-ripple-fg-translate-end: 0; --mdc-ripple-fg-translate-start: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); will-change: transform, opacity; }
.mdc-button::before, .mdc-button::after { position: absolute; border-radius: 50%; opacity: 0; pointer-events: none; content: ""; }
.mdc-button::before { transition: opacity 15ms linear, background-color 15ms linear; z-index: 1; }
.mdc-button.mdc-ripple-upgraded::before { transform: scale(var(--mdc-ripple-fg-scale, 1)); }
.mdc-button.mdc-ripple-upgraded::after { top: 0; /* @noflip */ left: 0; transform: scale(0); transform-origin: center center; }
.mdc-button.mdc-ripple-upgraded--unbounded::after { top: var(--mdc-ripple-top, 0); /* @noflip */ left: var(--mdc-ripple-left, 0); }
.mdc-button.mdc-ripple-upgraded--foreground-activation::after { animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards; }
.mdc-button.mdc-ripple-upgraded--foreground-deactivation::after { animation: mdc-ripple-fg-opacity-out 150ms; transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1)); }
.mdc-button::before, .mdc-button::after { top: calc(50% - 100%); /* @noflip */ left: calc(50% - 100%); width: 200%; height: 200%; }
.mdc-button.mdc-ripple-upgraded::after { width: var(--mdc-ripple-fg-size, 100%); height: var(--mdc-ripple-fg-size, 100%); }
.mdc-button::before, .mdc-button::after { background-color: #6200ee; }
@supports not (-ms-ime-align: auto) { .mdc-button::before, .mdc-button::after { /* @alternate */ background-color: var(--mdc-theme-primary, #6200ee); } }
.mdc-button:hover::before { opacity: 0.04; }
.mdc-button:not(.mdc-ripple-upgraded):focus::before, .mdc-button.mdc-ripple-upgraded--background-focused::before { transition-duration: 75ms; opacity: 0.12; }
.mdc-button:not(.mdc-ripple-upgraded)::after { transition: opacity 150ms linear; }
.mdc-button:not(.mdc-ripple-upgraded):active::after { transition-duration: 75ms; opacity: 0.12; }
.mdc-button.mdc-ripple-upgraded { --mdc-ripple-fg-opacity: 0.12; }

.mdc-button--raised::before, .mdc-button--raised::after, .mdc-button--unelevated::before, .mdc-button--unelevated::after { background-color: #fff; }
@supports not (-ms-ime-align: auto) { .mdc-button--raised::before, .mdc-button--raised::after, .mdc-button--unelevated::before, .mdc-button--unelevated::after { /* @alternate */ background-color: var(--mdc-theme-on-primary, #fff); } }
.mdc-button--raised:hover::before, .mdc-button--unelevated:hover::before { opacity: 0.08; }
.mdc-button--raised:not(.mdc-ripple-upgraded):focus::before, .mdc-button--raised.mdc-ripple-upgraded--background-focused::before, .mdc-button--unelevated:not(.mdc-ripple-upgraded):focus::before, .mdc-button--unelevated.mdc-ripple-upgraded--background-focused::before { transition-duration: 75ms; opacity: 0.24; }
.mdc-button--raised:not(.mdc-ripple-upgraded)::after, .mdc-button--unelevated:not(.mdc-ripple-upgraded)::after { transition: opacity 150ms linear; }
.mdc-button--raised:not(.mdc-ripple-upgraded):active::after, .mdc-button--unelevated:not(.mdc-ripple-upgraded):active::after { transition-duration: 75ms; opacity: 0.24; }
.mdc-button--raised.mdc-ripple-upgraded, .mdc-button--unelevated.mdc-ripple-upgraded { --mdc-ripple-fg-opacity: 0.24; }

.mdc-icon-button { width: 48px; height: 48px; padding: 12px; font-size: 24px; display: inline-block; position: relative; box-sizing: border-box; border: none; outline: none; background-color: transparent; fill: currentColor; color: inherit; text-decoration: none; cursor: pointer; user-select: none; }
.mdc-icon-button svg, .mdc-icon-button img { width: 24px; height: 24px; }
.mdc-icon-button:disabled { color: rgba(0, 0, 0, 0.38); /* @alternate */ color: var(--mdc-theme-text-disabled-on-light, rgba(0, 0, 0, 0.38)); cursor: default; pointer-events: none; }

.mdc-icon-button__icon { display: inline-block; }
.mdc-icon-button__icon.mdc-icon-button__icon--on { display: none; }

.mdc-icon-button--on .mdc-icon-button__icon { display: none; }
.mdc-icon-button--on .mdc-icon-button__icon.mdc-icon-button__icon--on { display: inline-block; }

.mdc-icon-button { --mdc-ripple-fg-size: 0; --mdc-ripple-left: 0; --mdc-ripple-top: 0; --mdc-ripple-fg-scale: 1; --mdc-ripple-fg-translate-end: 0; --mdc-ripple-fg-translate-start: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); will-change: transform, opacity; }
.mdc-icon-button::before, .mdc-icon-button::after { position: absolute; border-radius: 50%; opacity: 0; pointer-events: none; content: ""; }
.mdc-icon-button::before { transition: opacity 15ms linear, background-color 15ms linear; z-index: 1; }
.mdc-icon-button.mdc-ripple-upgraded::before { transform: scale(var(--mdc-ripple-fg-scale, 1)); }
.mdc-icon-button.mdc-ripple-upgraded::after { top: 0; /* @noflip */ left: 0; transform: scale(0); transform-origin: center center; }
.mdc-icon-button.mdc-ripple-upgraded--unbounded::after { top: var(--mdc-ripple-top, 0); /* @noflip */ left: var(--mdc-ripple-left, 0); }
.mdc-icon-button.mdc-ripple-upgraded--foreground-activation::after { animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards; }
.mdc-icon-button.mdc-ripple-upgraded--foreground-deactivation::after { animation: mdc-ripple-fg-opacity-out 150ms; transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1)); }
.mdc-icon-button::before, .mdc-icon-button::after { top: calc(50% - 50%); /* @noflip */ left: calc(50% - 50%); width: 100%; height: 100%; }
.mdc-icon-button.mdc-ripple-upgraded::before, .mdc-icon-button.mdc-ripple-upgraded::after { top: var(--mdc-ripple-top, calc(50% - 50%)); /* @noflip */ left: var(--mdc-ripple-left, calc(50% - 50%)); width: var(--mdc-ripple-fg-size, 100%); height: var(--mdc-ripple-fg-size, 100%); }
.mdc-icon-button.mdc-ripple-upgraded::after { width: var(--mdc-ripple-fg-size, 100%); height: var(--mdc-ripple-fg-size, 100%); }
.mdc-icon-button::before, .mdc-icon-button::after { background-color: #000; }
.mdc-icon-button:hover::before { opacity: 0.04; }
.mdc-icon-button:not(.mdc-ripple-upgraded):focus::before, .mdc-icon-button.mdc-ripple-upgraded--background-focused::before { transition-duration: 75ms; opacity: 0.12; }
.mdc-icon-button:not(.mdc-ripple-upgraded)::after { transition: opacity 150ms linear; }
.mdc-icon-button:not(.mdc-ripple-upgraded):active::after { transition-duration: 75ms; opacity: 0.12; }
.mdc-icon-button.mdc-ripple-upgraded { --mdc-ripple-fg-opacity: 0.12; }
