.events-by-country {
  border-collapse: separate;
  border-spacing: 0 1em;

  td {
    padding: 0.8em;
  }
  width: 100%;

  tr.hidden {
    display: none !important;
  }

  tr {
    background: darken(#F4F9F0, 5%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    td:nth-child(1), td:nth-child(2), td:nth-child(3) {
      font-weight: bold;
    }
  }

  @include media($mobile) {
    width: 90%;
    margin: 5%;
    thead tr:nth-child(1) {
      display: none;
    }

    tr {
      margin: 20px 0;
      background: darken(#F4F9F0, 5%);
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

      td:nth-child(1), td:nth-child(2) {
        width: 49%;
        display: inline-block;
        font-weight: bold;
      }
      td:nth-child(2), td:nth-child(3) {
        text-align: right;
      }
      display: block;
      td {
        display: block;
      }
    }
  }
}
