$title-font: 'Amaranth', sans-serif;
$body-font: 'Roboto Slab', serif;

@font-face {
  font-family: 'OrbitronBlack';
  src: url('fonts/orbitron-black-webfont.eot');
  src: local('☺'),
  url('fonts/orbitron-black-webfont.woff') format('woff'),
  url('fonts/orbitron-black-webfont.ttf') format('truetype'),
  url('fonts/orbitron-black-webfont.svg#webfontZfdcvyv5') format('svg');
  font-weight: normal;
  font-style: normal;
}
