form {
  border-top: 1px solid $dark;
  padding-top: $gutter;
  .form-item {
    @include fill-parent;
    padding-top: $gutter;
    label {
      @include span-columns(4 of 12);
      text-align: right;
    }
    input[type="text"], .choices {
      @include span-columns(4 of 12);
    }
    .choices .choice {
      @include fill-parent;
    }
    @include clearfix;
  }
  input[type="text"] {
    padding: $gutter/2;
  }
  label.help {
    opacity: 0.5;
    text-align: left;
  }

  .submit {
    margin-top: $gutter*2;
    @include span-columns(4 of 12);
    @include shift(4);
    border: none;
  }
}
