$navbar-height: 3*$gutter;
$navbar-padding: $gutter/2;

.container {
  margin-top: $navbar-height;
}

.navbar {
  padding: $navbar-padding 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $light;
  box-shadow: 0 0 8px 0 black;
  z-index: 50;
  height: $navbar-height;
  a {
    cursor: pointer;
  }
}

.navbar-inner {
  display: flex;
  @include outer-container;
  .logo {
    display: block;
    text-align: left;
    flex-grow: 1;
  }
  .logo img { max-height: $navbar-height - 2*$navbar-padding; }
  button {
    display: none;
  }
}

.menu-word {
  display: none;
}

.logo-nav-container {
  display: flex;
  flex-grow: 6;
}

.nav-links {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 6;
  a {
    flex-grow: 1;
    margin-top: 10px;
  }
}

.social-media-links {
  display: flex;
  flex-grow: 2;
  div {
    flex-grow: 1;
  }
  a {
    display: inline-block;
    max-width: 100px;
  }
}

@media only screen and (max-width: 1250px) {
  .navbar-inner {
    display: block;
    padding-left: 20px;
  }
  .logo-nav-container {
    max-width: 700px;
  }
  .nav-links {
    a {
      margin-top: -5px;
    }
  }
  .social-media-links {
    text-align: right;
    width: 400px;
    position: absolute;
    right: 100px;
    margin-top: -10px;
    a {
      max-width: none;
    }
  }
}

@media only screen and (max-width: 900px) {
  .navbar-inner {
    button {
      display: block;
    }
  }
  .menu-word {
    margin-left: 50px;
    color: $green;
    font-size: 1.2em;
    display: block;
    margin-top: 10px;
    margin-right: 20px;
  }
  .hamburger {
    position: absolute;
    top: 0;
    left: 165px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 70px;
    height: 67px;
    font-size: 0;
    text-indent: -9999px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    background-color: inherit;
    &:focus {
      outline: none;
    }
    span {
      display: block;
      position: absolute;
      top: 35px;
      left: 18px;
      right: 18px;
      height: 5px;
      background: $green;
      transition: transform 0.3s;
      &::before, &::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: $green;
        content: "";
      }
      &::before {
        top: -10px;
      }
      &::after {
        bottom: -10px;
      }
    }
  }

  .logo-nav-container {
    max-width: 90%;
  }

  .nav-links {
    visibility: hidden;
    height: 0;
    transition: height 0.3s ease-out;
    &.expand {
      visibility: visible;
      height: 220px;
      flex-direction: column;
      background-color: $light;
      padding-left: 10px;
      font-size: 20px;
      margin-top: 60px;
      padding-top: 15px;
      width: 489px;
      a:last-child {
        padding-bottom: 0;
      }
    }
  }

  .navbar-inner {
    display: flex;
  }

  .social-media-links {
    width: 300px;
    right: 150px;
    margin-top: 0;
    display: flex;
    flex-grow: 2;
    div {
      flex-grow: 1;
    }
    a {
      display: inline-block;
      max-width: 100px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .navbar {
    font-size: 15px;
  }

  .social-media-links {
    display: none;
  }

  .menu-word {
    display: none;
  }

  .hamburger {
    left: 41%;
  }
}
