@import "fonts/orbitron";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

/* latin */
@font-face {
  font-family: 'Orbitron';
  font-display: swap;
  src: url(/assets/Orbitron-VariableFont_wght.ttf) format('ttf');
}


@each $name, $color in $participants {
    $theme-colors: map-merge($theme-colors, ("participants-#{$name}": $color))
}
$theme-colors: map-merge($theme-colors, ("participants-bg-light": theme-color-level("participants-primary", -11)));

@each $name, $color in $facilitators {
    $theme-colors: map-merge($theme-colors, ("facilitators-#{$name}": $color))
}
$theme-colors: map-merge($theme-colors, ("facilitators-bg-light": theme-color-level("facilitators-primary", -11)));


$font-family-sans-serif:      "Open Sans", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;
$font-size-base: 0.9rem;

$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.75;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.25;
$h5-font-size:                $font-size-base * 1.2;
$h6-font-size:                $font-size-base;

$link-color:                              darken(theme-color("primary"), 30%);
$link-hover-color:                        darken($link-color, 15%);
$link-decoration:                         none;
$link-hover-decoration:                   underline;

$enable-shadows: true;
@import "../node_modules/bootstrap/scss/bootstrap";
@import "navbar";


.btn-facilitators {
  @include button-variant(
    map-get($facilitators, "primary"),
    map-get($facilitators, "primary")
  );
}

.btn-participants {
  @include button-variant(
    map-get($participants, "primary"),
    map-get($participants, "primary")
  );
}

.drop-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
}

.drop-shadow-small {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
}

main blockquote:not(.blockquote) {
  background: theme-color("light");
  &:before {
    content: '“';
    font-size: 5rem;
    line-height: 1;
    font-family: "Times New Roman", Times, Georgia, Cambria,serif;
    font-weight: bold;
    float: left;
    padding-right: $spacer;
  }
  > p {
    margin: 0;
  }
  font-size: 1.25rem;
  border-left: 3px solid theme-color("primary");
  padding: $spacer/2;
  margin: $spacer*2 $spacer;
}

main div.advise {
  background: theme-color("light");
  position: relative;
  &:before {
    content: " ";
    background-image: url("data:image/svg+xml,%3Csvg height='512' width='512' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3ClinearGradient id='a'%3E%3Cstop offset='0' stop-color='%23ffe59a'/%3E%3Cstop offset='1' stop-color='%23ffffd5'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='256' x2='256' xlink:href='%23a' y1='512' y2='406'/%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='256' x2='256' y1='436' y2='0'%3E%3Cstop offset='0' stop-color='%23fd5900'/%3E%3Cstop offset='1' stop-color='%23ffde00'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='256' x2='256' xlink:href='%23a' y1='240' y2='120'/%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='256' x2='256' xlink:href='%23a' y1='300' y2='270'/%3E%3Cpath d='M316 512H196c-8.284 0-15-6.716-15-15v-76c0-8.284 6.716-15 15-15h120c8.284 0 15 6.716 15 15v76c0 8.284-6.716 15-15 15z' fill='url(%23b)'/%3E%3Cpath d='M256 0C156.748 0 76 80.748 76 180c0 65.601 29.842 99.99 56.171 130.331C157.281 339.268 181 366.601 181 421v15h150v-15c0-54.399 23.719-81.732 48.829-110.669C406.158 279.99 436 245.601 436 180 436 80.748 355.252 0 256 0z' fill='url(%23c)'/%3E%3Cpath d='M256 240c-8.284 0-15-6.716-15-15v-90c0-8.284 6.716-15 15-15s15 6.716 15 15v90c0 8.284-6.716 15-15 15z' fill='url(%23d)'/%3E%3Ccircle cx='256' cy='285' fill='url(%23e)' r='15'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    display: block;
    top: $spacer;
    left: $spacer;
    bottom: $spacer;
    position: absolute;
    font-weight: bold;
    float: left;
  }
  > p:last-child {
    margin-bottom: 0;
  }
  font-size: 1rem;
  border-left: 3px solid theme-color("primary");
  padding: $spacer/2;
  padding-left: calc(40px + #{$spacer}*2);
  margin: $spacer*2 $spacer;
}

main div.remote {
  background: theme-color("light");
  position: relative;
  &:before {
    content: " ";
    background-image: url("data:image/svg+xml,%3Csvg height='512' viewBox='0 0 511.977 511.977' width='512' xmlns='http://www.w3.org/2000/svg'%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='257.339' x2='257.339' y1='496.192' y2='112.728'%3E%3Cstop offset='0' stop-color='%23a93aff'/%3E%3Cstop offset='1' stop-color='%23ff81ff'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='255.988' x2='255.988' y1='488.422' y2='15.785'%3E%3Cstop offset='0' stop-color='%23ffbef9'/%3E%3Cstop offset='1' stop-color='%23fff1ff'/%3E%3C/linearGradient%3E%3Cpath d='M133.475 323.109c-8.401-23.399-34.497-35.4-57.898-27.001-15.906 5.736-26.365 19.856-28.833 35.466-14.614-69.666 6.511-142.05 57.558-193.256 5.83-5.874 5.83-15.366-.059-21.211-5.801-5.83-15.352-5.859-21.211.029C18.756 181.634-3.92 275.575 23.854 362.294c2.499 7.747 10.818 12.251 18.867 9.697a14.974 14.974 0 004.084-2.026l-8.535 66.971 51.707 29.574c1.802 5.099 4.501 9.3 7.8 13.2 10.687 13.852 30.467 20.624 49.797 13.799 23.401-8.399 35.402-34.499 27.004-57.599zM431.67 117.137c-5.859-5.889-15.352-5.859-21.211-.029-5.889 5.845-5.889 15.337-.059 21.211 53.377 53.556 73.971 130.105 55.334 202.607a43.11 43.11 0 00.062-2.217c0-18.784-11.125-35.757-29.7-42.601-22.536-8.3-48.584 2.527-57.601 27.001l-41.096 112.8c-8.401 23.101 3.596 49.2 26.997 57.599 19.239 6.793 38.717.054 49.801-13.799 3.3-3.9 5.999-8.101 7.797-13.2l51.514-29.041-8.567-68.928a14.908 14.908 0 006.63 4.387c7.703 2.517 16.304-1.623 18.897-9.624 28.302-87.025 5.773-181.346-58.798-246.166z' fill='url(%23a)'/%3E%3Cpath d='M434.161 135.36c15.186-19.741 11.482-47.941-8.232-63.105-97.852-75.293-239.33-75.293-337.182 0-19.712 15.163-23.434 43.368-8.203 63.12 15.182 19.737 43.452 23.372 63.076 8.218 65.566-50.479 161.869-50.449 227.436 0 19.189 14.736 48.485 10.795 63.105-8.233zm48.134 209.648l-16.498-6.299c0 5.099-.897 10.199-2.699 15l-41.104 112.8c-1.798 5.099-4.497 9.3-7.797 13.2l16.798 5.999c24.13 8.514 48.907-3.724 57.601-26.699l20.702-56.4c8.399-23.4-3.602-49.2-27.003-57.601zM48.877 353.71c-1.798-5.101-2.699-9.901-2.699-15l-16.501 6.299C6.276 353.41-5.721 379.209 2.68 402.61l20.398 56.4c8.812 23.371 34.337 35.018 57.898 26.699l16.802-5.999c-3.3-3.9-5.999-8.101-7.8-13.2z' fill='url(%23b)'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    width: 45px;
    display: block;
    top: $spacer;
    left: $spacer;
    bottom: $spacer;
    position: absolute;
    font-weight: bold;
    float: left;
  }
  > p:last-child {
    margin-bottom: 0;
  }
  font-size: 1rem;
  border-left: 3px solid theme-color("primary");
  padding: $spacer/2;
  padding-left: calc(40px + #{$spacer}*2);
  margin: $spacer*2 $spacer;
}


@import "toc";
@import "pages/home";
@import "pages/training-sessions";
