@import "fonts/orbitron";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";

/* latin */
@font-face {
  font-family: 'Orbitron';
  font-display: swap;
  src: url(/assets/Orbitron-VariableFont_wght.ttf) format('ttf');
}


@each $name, $color in $participants {
    $theme-colors: map-merge($theme-colors, ("participants-#{$name}": $color))
}
$theme-colors: map-merge($theme-colors, ("participants-bg-light": theme-color-level("participants-primary", -11)));

@each $name, $color in $facilitators {
    $theme-colors: map-merge($theme-colors, ("facilitators-#{$name}": $color))
}
$theme-colors: map-merge($theme-colors, ("facilitators-bg-light": theme-color-level("facilitators-primary", -11)));


$font-family-sans-serif:      "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;


$enable-shadows: true;
@import "../node_modules/bootstrap/scss/bootstrap";

.navbar {
  .navbar-brand {
    font-family: Orbitron;
    font-weight: bold;
    color: $navbar-light-color;
    text-transform: uppercase;
    &>img {
      padding-right: $spacer/2;
    }
  }
  .navbar-collapse.collapse.show,
  .navbar-collapse.collapsing {
    .nav-divider {
      display: none;
    }
  }
  .nav-item {
    font-weight: 500;
    text-transform: uppercase;
  }
}

.btn-facilitators {
  @include button-variant(
    map-get($facilitators, "primary"),
    map-get($facilitators, "primary")
  );
}

.btn-participants {
  @include button-variant(
    map-get($participants, "primary"),
    map-get($participants, "primary")
  );
}

.drop-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
}

.drop-shadow-small {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
}

@import "./toc";
@import "pages/home";
