@mixin transparent-overlay($transparency) {
  $image-gradient-color-top: red;
  $transparency-top: $transparency;
  $image-gradient-color-bottom: green;
  $transparency-bottom: $transparency;
  $vertical-angle: 0deg;

  $image-gradient-color-left: teal;
  $transparency-left: $transparency;
  $image-gradient-color-right: yellow;
  $transparency-right: $transparency;
  $horizontal-angle: 90deg;

  position: relative;
  line-height: 0;
  margin-bottom: $gutter;

  .copy {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    z-index: 999;
    text-align: center;
    @include transform(translate(-50%, -50%));

    p {
      line-height: 1.5em;
      padding: 1em 2em;
      position: relative;
      color: white;
    }
  }

  .overlay {
    @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top),
    transparentize($image-gradient-color-bottom, $transparency-bottom));
    display: block;
    @include position(absolute, 0px 0px 0px 0px);

    &:after {
      content: '';
      @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left),
      transparentize($image-gradient-color-right, $transparency-right));
      display: block;
      @include position(absolute, 0px 0px 0px 0px);
    }
  }
}
