.jumbotron-gol {
  overflow: hidden;
  height: 50vh;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.6) 40%,
      rgba(0, 0, 0, 0.6) 60%,
      rgba(0, 0, 0, 0.25) 100%
    );
  position: relative;

  .jumbotron-gol-controls {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
  }

  #gameCanvas {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
