.jumbotron-gol {
  overflow: hidden;
  position: relative;

  #gameContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
  }

  #gameOverflowContainer {
    background: #eee;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .jumbotron-gol-content {
    z-index: 1001;
    transition: opacity 1s ease-in-out 0s;
    position: relative;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: #333 3px 3px 3px;

    .jumbotron-gol-content-wrapper {
      font-size: 1.5em;
    }
    h1 {
      font-family: Orbitron, sans-serif;
      font-weight: lighter;
    }
  }

  .jumbotron-gol-controls {
    background: rgba(255, 255, 255, 1);
    position: absolute;
    z-index: 0;
    right: -5px;
    top: -5px;
    padding-top: 5px;
    padding-right: 5px;
    border-radius: 3px;
  }

  #gameCanvasOverlay {
    transition: opacity 1s ease-in-out 0s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

#carousel-quotes {
  height: calc(1.25em * 4);

  @include media-breakpoint-down("xs") {
    height: calc(1.25em * 8);
  }

  @include media-breakpoint-down("md") {
    height: calc(1.25em * 6);
  }
}

.card-img-tinted {
  filter: sepia(100%) hue-rotate(160deg);
  &:hover {
    transition: filter 200ms ease-in-out;
    filter: none;
  }
}
