.setup-guide {
  @include media-breakpoint-up("lg") {
    .advice,
    .tldr {
      margin-left: 0;
    }

    .videos {
      position: sticky;
      top: $spacer * 3;
    }
  }

  & > div:nth-child(2n) {
    background: $gray-200;
  }
  & > div:nth-child(2n + 1) {
    background: lighten(theme-color("primary"), 25%);
  }
}
