body {
  background-color: #f4f9f0;
  font-family: "Roboto Slab", serif;
  font-size: 1.6em;
  line-height: 1.618em;
  color: #1A3238;
}

.tab-content {
  background-color: white;
  padding: 2em;
}

.page_header {
  font-size: 2em;
  font-family: "Amaranth", sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #8CDDEE;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 1em;
}

@media screen and (max-width: 700px) {
  .page_header {
    font-size: 1.3em;
  }
}

.panel-default > .panel-heading {
  background-color: #fcfcfc;
  font-weight: bold;
}

#footer {
  color: white;
  margin-top: 2em;
  text-align: center;
  background-color: #1A3238;
  padding: 1em;
}

#footer a {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

#footer .container-wide {
  margin: 1em;
}
