---
layout: default
permalink: videos/
title: Videos posted by the community
---

<h2>Game of Life (GoL) demos</h2>

<section class="videos">
  <ul class="video-list">
    {% assign videos = site.data.videos | where:"type","demo" | sort: 'date' %}
    {% include video.html %}
  </ul>
</section>

<h2>Some types of sessions</h2>

<section class="videos">
  <ul class="video-list">
    {% assign videos = site.data.videos | where:"type","session" | sort: 'title' %}
    {% include video.html %}
  </ul>
</section>

<p class="last-section">
    <a href="{% link pages/training.md %}">What about facilitation training videos?</a>
</p>
