---
layout: default
permalink: videos/
---

<section class="videos">
  <h1>Videos posted by the community</h1>

  <ul class="video-list">
    {% assign videos = site.data.videos | sort: 'date' %}
    {% for video in videos %}
    <li class="video">
      {% if video.youtube %}
      <iframe src="https://www.youtube.com/embed/{{ video.youtube }}" frameborder="0" allowfullscreen></iframe>
      {% endif %}

      {% if video.vimeo %}
      <iframe src="https://player.vimeo.com/video/{{video.vimeo}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      {% endif %}

      <div class="title">{{video.added}} by {{video.author}}</div>
    </li>
    {% endfor %}
  </ul>

</section>
