{%- assign stylesheet = page.audience -%}
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/css/theme_" | append: stylesheet | append: ".min.css" | relative_url }}">
  {%- feed_meta -%}
</head>

<body>

  <main class="page-content" aria-label="Content">
    {% include navbar.html %}

    {{ content }}
  </main>

  <footer class="footer bg-dark text-light mt-5 pt-3 pb-5">
    <div class="container">
      <div class="row">
      <div class="col-3">
        <ul class="list-unstyled">
          <li><a href="https://twitter.com/coderetreat"><i class="fab fa-twitter mr-1"></i>Follow us on Twitter</a></li>
          <li><a href="https://github.com/coderetreat"><i class="fab fa-github mr-1"></i>Contribute on GitHub</a></li>
        </ul>
      </div>
      <div class="col-3 offset-6">
        <p>The Coderetreat Contributors 2020</p>
      </div>
    </div>
    </div>
  </footer>
    <script type="application/javascript" src="{{ "/js/bundled/default.js" | relative_url }}"></script>

</body>

</html>