<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="The Global Day of Coderetreat as a day when developers all over the world will be practicing the fundamentals of software development.">

    <title>Global Day of Coderetreat</title>
    <link rel="stylesheet" href="/print.css" type="text/css" media="print">
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/training.css" type="text/css" media="screen">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/jsrender.min.js"></script>

    <script type="text/javascript" src="/js/openlayers3.js"></script>
    <script src="/js/ol3-geocoder/ol3-geocoder.js"></script>
    <script type="text/javascript" src="/js/map.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Amaranth:700|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link href="https://unpkg.com/ol3-geocoder/build/ol3-geocoder.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="global_day">
    {% include navigation.html %}
    <div class="container">
      <div id="main">
        <div id="content">
          {{ content }}
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="container-wide">
      </div>
    </div>
</body>
</html>
