---
layout: default
---
<div class="posts-container">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      <span class="post-meta">
        <span class="post-avatar">
          <img src="https://avatars.githubusercontent.com/{{page.author}}" style="border-radius: 30px" height="60px" alt="">
        </span>
        Posted by <a href="http://github.com/{{page.author}}">{{page.authorname}}</a> on {{ page.date | date: "%b %-d, %Y" }}
      </span>
    </header>

  <div class="post-content" itemprop="articleBody">
  {{ content }}
  </div>
</div>
