---
layout: default
---

<div id="map">
    <div id="popup"></div>
</div>

<h1>Upcoming coderetreats in 2018</h1>
{% assign events_with_location = site.data.events-new | where_exp: 'event', 'event.location != "virtual"'  %}
{% assign virtual_events = site.data.events-new | where_exp: 'event', 'event.location == "virtual"'  %}
{% assign countries = events_with_location | map: 'location' | map: 'country' | uniq | sort %}

{% assign labels = events_with_location | map: 'labels' | uniq | compact | sort  %}


<form class="pure-form">
    <fieldset>
        <select id="gdcrCountry" style="font-family: sans-serif;">
            <option selected disabled>Select your country...</option>
            <option value="none">Show All</option>
            <option disabled>-------------</option>
            <option value="virtual">Virtual Events</option>
            {% for country in countries %}
            <option>{{ country }}</option>
            {% endfor %}
        </select>

        <select id="labels" style="font-family: sans-serif;">
            <option selected disabled>Select a label...</option>
            <option value="none">Show All</option>
            <option disabled>-------------</option>
            {% for label in labels %}
            <option>{{ label }}</option>
            {% endfor %}
        </select>
    </fieldset>
</form>


<table class="events-by-country">
    <thead>
    <tr>
        <th>Country</th>
        <th>City</th>
        <th>Title</th>
        <th>Facilitators</th>
        <th>Sponsors</th>
    </tr>
    </thead>
    <tbody>
    
    {% for event in virtual_events %}
    <tr data-country="virtual">
        <td colspan="2">Virtual</td>
        <td><a href="{{ event.url }}">{{ event.title }}</a></td>
        <td>
            {% include event-moderators.html %}
        </td>
        <td>
            {% include event-sponsors.html %}
        </td>
    </tr>
    {% endfor %}
    
    {% assign events = events_with_location | where_exp: 'name', '1' | sort: 'location.city' | sort: 'location.country' %}
    {% for event in events %}
    <tr data-country="{{event.location.country}}" data-labels={{event.labels|jsonify}}>
        <td>{{ event.location.country }}</td>
        <td>{{ event.location.city }}</td>
        <td><a href="{{ event.url }}">{{ event.title }}</a></td>
        <td>
            {% include event-moderators.html %}
        </td>
        <td>
            {% include event-sponsors.html %}
        </td>
    </tr>
    {% endfor %}
    
    </tbody>
</table>

<script>
    $(function () {
        $.get('/events/gdcr2018.json', function (eventsJson) {
            var gdcrEvents = mapEventsDataToMapFormat(eventsJson);
            addEventsToMap(gdcrEvents);
        });

        $('#gdcrCountry').on('change', function (e) {
            var filter = e.target.value;
            var rows = $('tbody tr');
            var isDisabled = filter === 'none';

            for (var i = 0; i < rows.length; i++) {
                row = rows[i];
                ctry = row.getAttribute("data-country");
                row.classList.toggle('hidden', !(isDisabled || ctry === filter))
            }
            ;
        });

        $('#labels').on('change', function (e) {
            var filter = e.target.value;
            var rows = $('tbody tr');
            var isDisabled = filter === 'none';

            for (var i = 0; i < rows.length; i++) {
                row = rows[i];
                label = row.getAttribute("data-labels");
                console.log("label is", label);
                row.classList.toggle('hidden', !(isDisabled || (label && label.includes(filter))));
            }
            ;
        });
    });
</script>
