---
layout: default
---

<div id="map">
    <div id="popup"></div>
</div>

<h1>Upcoming coderetreats in 2018</h1>
{% assign events_with_location = site.data.events-new | where_exp: 'event', 'event.location != "virtual"'  %}
{% assign virtual_events = site.data.events-new | where_exp: 'event', 'event.location == "virtual"'  %}
{% assign countries = events_with_location | map: 'location' | map: 'country' | uniq | sort %}


<form class="pure-form">
    <fieldset>
        <select id="gdcrCountry" style="font-family: sans-serif;">
            <option selected disabled>Select your country...</option>
            <option value="none">Show All</option>
            <option disabled>-------------</option>
            <option value="virtual">Virtual Events</option>
            {% for country in countries %}
            <option>{{ country }}</option>
            {% endfor %}
        </select>
    </fieldset>
</form>

{% for event in events_with_location %}
    a {{ event.title }}
    {% include event-card.html %}
{% endfor %}


<table class="events-by-country">
    <thead>
    <tr>
        <th>Country</th>
        <th>City</th>
        <th>Title</th>
        <th>Facilitators</th>
        <th>Sponsors</th>
    </tr>
    </thead>
    <tbody>
    {% for event in virtual_events %}
    <tr data-country="virtual">
        <td colspan="2">Virtual</td>
        <td><a href="{{ event.url }}">{{ event.title }}</a></td>
        <td>
            {% assign loopCount = event.moderators | size | minus: 1 %}
            {% for i in (0..loopCount) %}
            {% assign moderator = event.moderators[i] %}
            {% assign first_char = moderator | slice: 0 %}
            {% if first_char == '@' %}
            {% assign sizeWithoutAt = moderator | size | minus: 1 %}
            {% assign handle = moderator | slice: 1, sizeWithoutAt %}
            <a href="https://twitter.com/{{ handle }}">{{ moderator }}</a>
            {% else %}
            {{ moderator }}
            {% endif %}
            {% if i != loopCount %}, {% endif %}
            {% endfor %}
        </td>


        <td>
            {%- assign loopCount = event.sponsors | size | minus: 1 -%}
            {%- for i in (0..loopCount) -%}
            {%- assign sponsor = event.sponsors[i] -%}
            {%- assign first_char = sponsor | slice: 0 -%}
            {%- if first_char == '@' -%}
            {%- assign sizeWithoutAt = sponsor | size | minus: 1 -%}
            {%- assign handle = sponsor | slice: 1, sizeWithoutAt -%}
            <a href="https://twitter.com/{{ handle }}">{{ sponsor }}</a>
            {%- else -%}
            {{- sponsor -}}
            {%- endif -%}
            {%- if i != loopCount -%}, {%- endif -%}
            {%- endfor -%}
        </td>


    </tr>
    {% endfor %}
    {% assign events = events_with_location | where_exp: 'name', '1' | sort: 'location.city' | sort: 'location.country' %}
    {% for event in events %}
    <tr data-country="{{event.location.country}}">
        <td>{{ event.location.country }}</td>
        <td>{{ event.location.city }}</td>
        <td><a href="{{ event.url }}">{{ event.title }}</a></td>
        <td>
            {% assign loopCount = event.moderators | size | minus: 1 %}
            {% for i in (0..loopCount) %}
            {% assign moderator = event.moderators[i] %}
            {% assign first_char = moderator | slice: 0 %}
            {% if first_char == '@' %}
            {% assign sizeWithoutAt = moderator | size | minus: 1 %}
            {% assign handle = moderator | slice: 1, sizeWithoutAt %}
            <a href="https://twitter.com/{{ handle }}">{{ moderator }}</a>
            {% else %}
            {{ moderator }}
            {% endif %}
            {% if i != loopCount %}, {% endif %}
            {% endfor %}
        </td>


        <td>
            {%- assign loopCount = event.sponsors | size | minus: 1 -%}
            {%- for i in (0..loopCount) -%}
            {%- assign sponsor = event.sponsors[i] -%}
            {%- assign first_char = sponsor | slice: 0 -%}
            {%- if first_char == '@' -%}
            {%- assign sizeWithoutAt = sponsor | size | minus: 1 -%}
            {%- assign handle = sponsor | slice: 1, sizeWithoutAt -%}
            <a href="https://twitter.com/{{ handle }}">{{ sponsor }}</a>
            {%- else -%}
            {{- sponsor -}}
            {%- endif -%}
            {%- if i != loopCount -%}, {%- endif -%}
            {%- endfor -%}
        </td>


    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(function () {
        $.get('/events/gdcr2018.json', function (eventsJson) {
            var gdcrEvents = mapEventsDataToMapFormat(eventsJson);
            addEventsToMap(gdcrEvents);
        });

        $('#gdcrCountry').on('change', function (e) {
            var filter = e.target.value;
            var rows = $('tbody tr');
            var isDisabled = filter === 'none';

            for (var i = 0; i < rows.length; i++) {
                row = rows[i];
                ctry = row.getAttribute("data-country");
                row.classList.toggle('hidden', !(isDisabled || ctry === filter))
            }
            ;
        });
    });
</script>
